#convas {
    width: 320px;
    height: 960px;
    background:#000;
    margin-left: auto;
    margin-right: auto;
}

#drawing {
    position:absolute;
    width="320px";
    height="960px";
}

#prediction-text {
    text-align: center;
}

#image {
    display: block;
    width="100%";
    height="960%";
    position:absolute; 
}

rect {
    fill: none;
    strokeWidth: 4;
    stroke: red;
}

text {
    stroke: red;
}
